<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Wynk_iOS_Assignment.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>35E46A5C248A85DF00646EC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35E46A72248A85E100646EC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35E46A7D248A85E100646EC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
